---
import Footer from '../../components/Footer'
import Header from '../../components/Header'
import '../../globals.css'
import data from '../../movies.json'
import Movie from '../../components/Movie'

export function getStaticPaths() {
  let params: {}[] = []
  for (let i = 0; i < data.movies.length; i++) {
    params.push({
      params: {
        no: i.toString(),
      },
    })
  }
  return [params]
}

const { no } = Astro.params
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.webp' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Signema</title>
    <script
      async
      src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6145213958807273'
      crossorigin='anonymous'></script>
  </head>
  <body class='bg-zinc-900 text-white'>
    <div class='flex flex-col min-h-screen'>
      {
        no ? (
          <Header
            user={null}
            movie={`${data.movies[no].title} (${data.movies[no].year})`}
            no={no}
          />
        ) : (
          <div />
        )
      }
      <main class='p-4 sm:p-8 w-full max-w-7xl mx-auto flex-grow'>
        {no ? <Movie id={data.movies[no].id} /> : <div />}
      </main>
      <Footer />
    </div>
  </body>
</html>
